/* Case Study Styles */
#case-study {
  padding: 40px 0;
}

#case-study h1 {
  text-align: center;
  margin-bottom: 20px;
}

#case-study h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

#case-study p {
  margin-bottom: 15px;
  text-align: justify;
}

#case-study ul {
  margin-bottom: 15px;
}

#case-study ul li {
  margin-bottom: 10px;
  list-style-type: disc;
  margin-left: 40px;
}

#case-study .featured-image {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto 30px;
  border-radius: 5px;
}

#case-study .diagrams {
  margin-top: 30px;
  text-align: center;
}
#case-study .diagrams img {
  max-width: 70%;
  height: auto;
}
/* Add more styles as needed */
