/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis de cor */
:root {
  --background-color: #181818;
  --secondary-background-color: #222;
  --text-color: #fff;
  --accent-color: #007bff; /* Substitua pela cor de destaque que preferir */
  --nav-width: 60px; /* Largura da barra de navegação */
}

/* Estilos gerais */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
}

/* Barra de navegação */
nav {
  background-color: var(--secondary-background-color);
  height: 100vh;
  width: var(--nav-width);
  position: fixed;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

nav:hover {
  width: 200px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

nav li {
  height: 50px;
  margin-bottom: 15px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

nav:hover a {
  justify-content: flex-start;
  padding-left: 25px;
}

nav a i {
  width: 30px;
  text-align: center;
}

nav:hover li a span {
  display: inline;
}

nav li a span {
  display: none;
  font-size: 16px;
  margin-left: 10px;
  white-space: nowrap;
}

nav a:hover {
  background-color: var(--accent-color);
}

/* Conteúdo principal */
main {
  flex-grow: 1;
  padding: 20px;
  margin-left: var(--nav-width);
  transition: margin-left 0.3s ease-in-out;
}

nav:hover + main {
  margin-left: 200px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Seção Hero */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

#hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #0056b3;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: var(--text-color);
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--accent-color);
}

/* Seção Sobre */
#about {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}

#about h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#about p {
  font-size: 16px;
  text-align: justify;
}

/* Seção Habilidades */
#skills {
  padding: 40px 0;
}

#skills h2 {
  text-align: center;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill:hover {
  transform: translateY(-5px);
}

.skill i {
  font-size: 48px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.skill img {
  height: 48px;
  width: 48px;
  fill: #007acc; /* Cor azul do TypeScript */
}

.skill span {
  font-size: 16px;
  font-weight: bold;
}

/* Seção Projetos */
#projects {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}

#projects h2 {
  text-align: center;
  margin-bottom: 40px;
}

.project-card {
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  padding: 0 20px 20px;
  font-size: 16px;
}

.project-links {
  padding: 0 20px 20px;
}

.project-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #0056b3;
}

/* Seção Contato */
#contact {
  padding: 40px 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

#contact p {
  text-align: center;
  margin-bottom: 10px;
}

#contact .social-icons {
  text-align: center;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  nav:hover {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav li {
    margin: 10px;
  }
  nav:hover a {
    padding-left: 0;
  }

  nav:hover li a span {
    display: none;
  }

  main {
    margin-left: 0;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .project-card img {
    height: auto;
  }

  .about-content {
    flex-direction: column;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .project-card img {
    content: url("keystone-home-mobile.webp");
  }
}
