/* Case Study Styles */
#case-study {
  padding: 40px 0;
}

#case-study .container {
  max-width: 1200px;
}

#case-study h1 {
  text-align: center;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-background-color);
}

.card-content {
  padding: 30px;
  width: 100%;
}

.card.overview .card-content {
  width: 60%;
}

.card.overview .card-image {
  width: 40%;
  height: auto;
}

.card.overview {
  flex-direction: column;
}

.card.overview .card-image {
  width: 100%;
  height: auto;
}

.card-image {
  width: 40%;
  display: flex;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.left {
  flex-direction: row-reverse;
}

.card h2 {
  margin-bottom: 15px;
}

.card p,
.card ul {
  margin-bottom: 15px;
  text-align: justify;
}

.card ul li {
  margin-bottom: 10px;
}

#case-study a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#case-study a:hover {
  color: #0056b3;
}

.challenges-container,
.solutions-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  justify-content: center; /* Centraliza o grid horizontalmente */
}

.challenge-card,
.solution-card {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.challenge-card h3,
.solution-card h3 {
  margin-bottom: 10px;
  color: var(--accent-color);
}

@media (max-width: 768px) {
  #case-study {
    padding: 20px 0; /* Mantém o padding superior e inferior */
  }

  #case-study .container {
    max-width: 100%; /* O container ocupa toda a largura */
    padding: 0 10px; /* Reduz o padding horizontal */
  }

  #case-study h1 {
    font-size: 20px; /* Reduz o tamanho do título */
    margin-bottom: 20px; /* Reduz a margem inferior */
  }

  .card-container {
    gap: 20px; /* Reduz o espaçamento entre os cards */
  }

  .card {
    flex-direction: column; /* Altera o layout para vertical */
  }

  .card-content {
    padding: 20px; /* Reduz o padding */
  }

  .card.overview .card-content {
    width: 100%; /* Ocupa toda a largura */
  }

  .card.overview .card-image {
    width: 100%; /* Ocupa toda a largura */
  }

  .card.overview {
    flex-direction: column; /* Mantém o layout vertical */
  }

  .card-image {
    width: 100%; /* Ocupa toda a largura */
    justify-content: center;
    object-fit: cover;
    height: auto; /* Altura automática para manter a proporção da imagem */
    display: flex;
  }

  .card-image img {
    width: 100%; /* Ocupa toda a largura */
    height: 150px; /* Altura automática */
    object-fit: cover; /* Mantém a proporção da imagem */
  }

  .card.left {
    flex-direction: column; /* Altera o layout para vertical */
  }

  .card h2 {
    font-size: 20px; /* Reduz o tamanho do título */
    margin-bottom: 10px; /* Reduz a margem inferior */
  }

  .card p,
  .card ul {
    font-size: 14px; /* Reduz o tamanho do texto */
    margin-bottom: 10px; /* Reduz a margem inferior */
  }

  .card ul li {
    margin-bottom: 5px; /* Reduz a margem inferior */
  }

  #case-study a {
    font-size: 14px; /* Reduz o tamanho do texto do link */
  }

  .challenges-container,
  .solutions-container {
    grid-template-columns: 1fr; /* Altera para uma única coluna */
    gap: 10px; /* Reduz o espaçamento entre os cards */
  }

  .challenge-card,
  .solution-card {
    padding: 15px; /* Reduz o padding */
  }

  .challenge-card h3,
  .solution-card h3 {
    font-size: 16px; /* Reduz o tamanho do título */
    margin-bottom: 5px; /* Reduz a margem inferior */
  }
}
