/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis de cor */
:root {
  --background-color: rgb(24, 24, 24, 0.8);
  --secondary-background-color: rgb(34, 34, 34, 0.6);
  --text-color: #fff;
  --accent-color: #0064cf;
  --nav-width: 60px; /* Largura da barra de navegação */
}

/* Estilos gerais */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/background-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Conteúdo principal */
main {
  flex-grow: 1;
  padding: 20px;
  margin-left: var(--nav-width);
  transition: margin-left 0.3s ease-in-out;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Seção Hero */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

#hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #0056b3;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: var(--text-color);
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--accent-color);
}

/* Seção Sobre */
#about {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}

#about h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#about p {
  font-size: 16px;
  text-align: justify;
}

/* Seção Habilidades */
#skills {
  padding: 40px 0;
}

#skills h2 {
  text-align: center;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill:hover {
  transform: translateY(-5px);
}

.skill i {
  font-size: 48px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.skill img {
  height: 48px;
}

.skill span {
  font-size: 16px;
  font-weight: bold;
}

/* Seção Projetos */
#projects {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}

#projects h2 {
  text-align: center;
  margin-bottom: 40px;
}

.project-card {
  background: linear-gradient(
    to bottom,
    var(--background-color),
    var(--secondary-background-color)
  );
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  padding: 0 20px 20px;
  font-size: 16px;
}

.project-links {
  padding: 0 20px 20px;
  display: flex;
  gap: 10px;
}

.project-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #0056b3;
}

/* Seção Contato */
#contact {
  padding: 40px 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

#contact p {
  text-align: center;
  margin-bottom: 10px;
}

#contact p a {
  color: var(--text-color);
  text-decoration: none;
}

#contact .social-icons {
  text-align: center;
  margin-top: 20px;
}

/* Media Query para Tablets e Smartphones */
@media (max-width: 768px) {
  /* Conteúdo Principal */
  main {
    margin: 0px 20px; /* Adiciona margem superior para compensar a navbar fixa (ajuste conforme necessário) */
    margin-bottom: 80px;
    padding: 0 10px; /* Reduz o padding */
  }

  .container {
    padding: 0 10px; /* Reduz o padding */
  }

  /* Seção Hero */
  #hero {
    height: auto; /* Altura automática */
    padding: 20px 0;
  }

  #hero h1 {
    font-size: 36px; /* Reduz o tamanho da fonte */
  }

  #hero h2 {
    font-size: 20px; /* Reduz o tamanho da fonte */
  }

  #hero p {
    font-size: 16px; /* Reduz o tamanho da fonte */
  }

  /* Botão de Contato */
  .contact-button {
    padding: 8px 16px; /* Reduz o padding */
    font-size: 14px; /* Reduz o tamanho da fonte */
  }

  /* Ícones Sociais */
  .social-icons a {
    font-size: 20px; /* Reduz o tamanho da fonte */
    margin: 0 8px; /* Reduz o espaçamento */
  }

  /* Seção Sobre */
  #about {
    padding: 20px 0; /* Reduz o padding */
  }

  #about h2 {
    margin-bottom: 20px; /* Reduz a margem */
  }

  .about-content {
    flex-direction: column; /* Altera para layout vertical */
    gap: 20px; /* Reduz o espaçamento */
  }

  .profile-pic {
    width: 100px; /* Reduz o tamanho da imagem */
    height: 100px; /* Reduz o tamanho da imagem */
  }

  #about p {
    font-size: 14px; /* Reduz o tamanho da fonte */
  }

  /* Seção Habilidades */
  #skills {
    padding: 20px 0; /* Reduz o padding */
  }

  #skills h2 {
    margin-bottom: 20px; /* Reduz a margem */
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Altera para 2 colunas */
    gap: 10px; /* Reduz o espaçamento */
  }

  .skill {
    padding: 10px; /* Reduz o padding */
  }

  .skill i {
    font-size: 36px; /* Reduz o tamanho do ícone */
    margin-bottom: 5px; /* Reduz a margem */
  }

  .skill img {
    height: 36px; /* Reduz o tamanho da imagem */
  }

  .skill span {
    font-size: 14px; /* Reduz o tamanho da fonte */
  }

  /* Seção Projetos */
  #projects {
    padding: 20px 0; /* Reduz o padding */
  }

  #projects h2 {
    margin-bottom: 20px; /* Reduz a margem */
  }

  .project-card {
    margin-bottom: 20px; /* Adiciona margem inferior */
  }

  .project-card img {
    height: auto; /* Altura automática para manter a proporção */
  }

  .project-card h3 {
    padding: 10px; /* Reduz o padding */
    font-size: 18px; /* Reduz o tamanho da fonte */
    margin-bottom: 5px; /* Reduz a margem */
  }

  .project-card p {
    padding: 0 10px 10px; /* Reduz o padding */
    font-size: 14px; /* Reduz o tamanho da fonte */
  }

  .project-links {
    padding: 0 10px 10px; /* Reduz o padding */
    flex-direction: column; /* Altera para layout vertical */
    gap: 5px; /* Reduz o espaçamento */
  }

  .project-button {
    padding: 8px 16px; /* Reduz o padding */
    font-size: 14px; /* Reduz o tamanho da fonte */
    margin-right: 0; /* Remove a margem direita */
    margin-bottom: 5px; /* Adiciona margem inferior */
    width: 100%;
  }

  /* Seção Contato */
  #contact {
    padding: 20px 0; /* Reduz o padding */
  }

  #contact h2 {
    margin-bottom: 10px; /* Reduz a margem */
  }

  #contact p {
    font-size: 14px; /* Reduz o tamanho da fonte */
    margin-bottom: 5px;
  }

  #contact .social-icons {
    margin-top: 10px; /* Reduz a margem */
  }
}
